.horse-track {
    position: sticky;
    top: 0;
    flex: 30%;
}

.track-race-wrapper {
    display: flex;
    flex-direction: row;
}

.lane-wrapper {
    width: 100%;
}

.track-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FADA7A;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.flag{
    width: 30px;
    background-image: url('@/assets/images/flag.jpg');
    background-repeat: repeat;
    background-size: contain;
}
